<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pneumonia Detection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="top"><p>Pneumonia Detection</p></div>
    <br>
    <form method = "POST"  action="/submit" enctype="multipart/form-data">
        <div class="innerBase1">
            <label class="label1"><b> UPLOAD IMAGE </b></label>
            <br><br>
            <input type="file" name="my_image" id="pwd">
            <div class="Img-Preview" id="img-preview">
                <img src="" class="img-preview-img">
                <span class="img-preview__default-text">Image Preview</span>
            </div>
            <br><br>
            <div class="buttons">
                <button style='margin-right:10px' type="submit" id="btn" class="btn">Submit</button>
            </div>
        </div>
    </form>
    {% if prediction %}
            <p class="Base2"> Your Input Xray Image Is Detected As
                <b class="A">{{prediction}}</b>
            </p>
    {% endif %}
    <script>
        const inpFile = document.getElementById("pwd");
        const previewContainer = document.getElementById("img-preview");
        const previewImage = previewContainer.querySelector(".img-preview-img");
        const previewImgDefault = previewContainer.querySelector(".img-preview__default-text");

        inpFile.addEventListener("change", function(){
            const file = this.files[0];
            if (file){
                const reader = new FileReader();

                previewImgDefault.style.display = "none";
                previewImage.style.display = "block";

                reader.addEventListener("load", function(){
                    console.log(this);
                    previewImage.setAttribute("src", this.result);
                });
                reader.readAsDataURL(file);
            }
        });
    </script>
</body>
</html>
